
p,h1,h2,h3,h4,h5,h6,ol,ul,dl,td,dd,hr,input,body{margin:0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: #333;}
body{font-size:14px; font-family: "微软雅黑";}
img{ border:none;vertical-align: top;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight: normal;}
em,i{font-style: normal;}
input{outline:none;}
.clear:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.fl{float:left;}
.fr{float:right;}
.border0{border:none;}
*{box-sizing: border-box;}
body,html{height:100%;width: 100%;}
html{font-size: 26.66vw;}